
#logo {
    width: 60%;
  }

  #fondoCabecera {
    position:relative;
    overflow:hidden;
    opacity: 0.2;
  }

  .card {
    height: 200px;
  
  }

  #iconos img {
    width: 2rem ;
  }

  .licencias{
    width:40%;
  }