<div class="container">
    <div class="row" id="quienesSomos">
        <h1 class="col-lg-12 text-center mb-5">¿Quiénes somos?</h1>
        <p class="col-lg-6 col-sm-12">
            El I.E.S. Aguadulce nace como una sección de I.E.S. Sabinar de Roquetas de Mar, debido al aumento de población que tuvo lugar en la década de lo 80 en esta localidad, sin edificio propio durante el curso académico 1987/88 en unos locales situados en el
            edificio Las Fuentes situado en la parte de Aguadulce sur. Posteriormente, debido al alto número de alumnado matriculado, pasó a ser un centro independiente durante el curso 1990/91, pero aún faltaría año y medio para poder disponer de unas
            instalaciones propias. Durante el curso académico 1991/92, el Delegado Provincial de Educación y Ciencia de la Junta de Andalucía, don Diego Écija Salto, inaugura lo que es hoy el primer edificio del instituto que posteriormente se amplia
            a un segundo edificio, para cubrir la alta demanda de plazas a cubrir. En la actualidad, el centro cuenta con más de mil alumnos matriculados, repartidos en grupos de Secundaria, Bachillerato, FP Básica, FP de grado medio, FP de ciclos de
            grado superior y cientos de alumnos en los ciclos formativos de formación profesional a distancia. El centro, ubicado en la calle Alhambra nº 1, está formado por dos edificios: uno más antiguo utilizado desde su inauguración, donde se encuentran
            los dos niveles de Bachillerato y otro más moderno donde se ubican los distintos grupos de la E.S.O. y Formación Profesional.
        </p>
        <div id="instalaciones" class="carousel slide carousel-fade col-lg-6 col-sm-12" data-bs-ride="carousel">
          <div class='col-12'>
            <ngb-carousel class="text-center">
                <ng-template ngbSlide>
                    <img src="../../assets/imgs/IES_Aguadulce_Patio_del_centro.jpg" alt="Patio del centro">
                    <div class="carousel-caption">
                      <h5>Patio del centro</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../assets/imgs/IES_Aguadulce_Pistas_deportivas.jpg" alt="Pistas deportivas">
                    <div class="carousel-caption">
                      <h5>Pistas deportivas</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../assets/imgs/IESAguadulce_eso.jpg" alt="Edificio ESO">
                    <div class="carousel-caption">
                      <h5>Edificio ESO</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../assets/imgs/IESAguadulce_pistas.jpg" alt="Pistas deportivas 2">
                    <div class="carousel-caption">
                      <h5>Pistas</h5>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>
  </div>

    <div id="ensena" class="row">

        <h1 class="text-center m-5 col-12">Enseñanzas del centro</h1>

        <img src="./assets/imgs/enseñanzas.jpg" alt="enseñanzas" class="col-lg-6 col-sm-12">
        <ul class=" list-group  col-lg-6 col-sm-12">
            <li class="list-group-item list-group-item-action">Educación Secundaria Obligatoria (ESO).
            </li>
            <li class="list-group-item list-group-item-action"> Bachillerato.
            </li>
            <li class="list-group-item list-group-item-action"> Formación Profesional de Grado Medio (FPGM) y de Grado Superior (FPGS) presencial.
            </li>
            <li class="list-group-item list-group-item-action"> Formación Profesional de Grado Superior Parcial Diferenciada.
            </li>
            <li class="list-group-item list-group-item-action"> Formación Profesional de Grado Superior a Distancia.
            </li>
            <li class="list-group-item list-group-item-action"> Formación Profesional Básica.</li>
        </ul>

        <h2 class="text-center mt-5 col-lg-12">Más información</h2>
        <p class="mt-5">
            En el Instituto de Educación Secundaria se imparte la Enseñanza Secundaria Obligatoria (E.S.O.) de formación obligatoria para estudiantes comprendidos entre los 12 y 16 años y varios tramos de formación postobligatoria para estudiantes de 16 a 18 años
            donde se realiza el Bachillerato, formación previa para el acceso a la Universidad, un Ciclo Formativo de Grado Medio y otro de Grado Superior. En el centro las enseñanzas impartidas de Formación Profesional están relacionadas con la familia
            profesional de Informática tanto en los ciclos de grado Medio (Sistemas Microinformaticos y Redes), como en el grado Superior en la modalidad de presencial (Desarrollo de Aplicaciones Web), en la modalidad de parcial diferenciada (Desarrollo
            de Aplicaciones Multiplataforma) y en la modalidad de distancia (Desarrollo de Aplicaciones Web y Desarrollo de Aplicaciones Multiplataforma). También se imparten enseñanzas de FP Básica de Informática.
        </p>
    </div>
    <div class="m-5 row">
        <h1 class="text-center col-lg-12">Contactanos</h1>
        <div class="mb-3 col-lg-12">
            <label class="form-label">Email de contacto</label>
            <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="mb-3 col-lg-12">
            <label class="form-label">Consulta</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="text-center col-lg-12">
            <input type="submit" class="btn btn-success">
            <input type="reset" class="btn btn-danger">
        </div>
    </div>
    </div>
